<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="padding-top: 5px">
  <div class="navbar-brand">

    <a class="navbar-item" >

      <%= link_to root_path do %>
        <%= image_tag '/pokedex_logo.png', width: 112, height: 28, alt: 'Pokedex logo'%>
    <% end %>

    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if trainer_signed_in? %>
      <a>
        <%= link_to "#{current_trainer.team_name}",team_path(trainer: current_trainer.trainer_tag), class: "navbar-item" %>
      </a>
      <%end%>
      <a>
        <%= link_to "Traits",traits_path, class: "navbar-item" %>
      </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if trainer_signed_in? %>
            <%= link_to current_trainer.trainer_tag.capitalize, edit_trainer_registration_path, class: "button is-link is-inverted is-primary "%>
            <%= button_to "Logout", destroy_trainer_session_path, :method => "delete",class: "button is-link is-inverted is-light"%>
          <% else %>
            <%= link_to "Sign Up", new_trainer_registration_path, class: "button is-link is-inverted is-light" %>
            <%= link_to "Log in", new_trainer_session_path, class: "button is-link is-inverted is-primary " %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
