<%= form_with(model: pokemon) do |form| %>
  <% if pokemon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h1 class="title has-text-centered is size-4">
      New Pokemon
    </h1>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <%= form.text_field :name,class:"input",placeholder: "Newmon" %>
      </div>
    </div>
    <div class="field">
      <label class="label">Weight</label>
      <div class="control">
        <%= form.number_field :weight,class:"input",placeholder:10 %>
      </div>
    </div>
    <div class="field">
      <label class="label">Height</label>
      <div class="control">
        <%= form.number_field :height,class:"input",placeholder:10 %>
      </div>
    </div>
    <div class="field">
      <label class="label">Sprite</label>
      <div class="control">
        <%= form.text_field :sprite,class:"input",value: "https://via.placeholder.com/96" %>
      </div>
    </div>

    <!-- <div data-controller="pokemon">
      <div class="field">
        <label class="label">Traits</label>
        <div class="control">
          <div class="select">
            <%= form.select :trait,["type", "ability", "item"],{prompt: "Select Trait Type"},{class:"input",data:{action:"change->pokemon#change"}} %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Select:</label>
        <div class="control">
          <div class="select">
            <%= form.select :trait,[],{}, {class:"input",data:{test_target: "traitSelect"}} %>
          </div>
        </div>
      </div>
    </div> -->
    <br>
    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class:"button is-link" %>
      </div>
    </div>
    <div>
  </div>
<% end %>
