<p style="color: green"><%= notice %></p>
<section class="section">
  <div class ="container">
    <h1 class="title has-text-centered is size-4">
      Pokemons
    </h1>
    <div class="columns is-multiline is-vcentered">
      <div class="column is-half-tablet is-1-desktop is-offset-2-desktop has-text-centered ">
         <%= link_to "Gen 1", pokemons_path(gen: 1), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 2", pokemons_path(gen: 2), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 3", pokemons_path(gen: 3), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 4", pokemons_path(gen: 4), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 5", pokemons_path(gen: 5), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 6", pokemons_path(gen: 6), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 7", pokemons_path(gen: 7), class: "button is-link is-inverted" %>
      </div>
      <div class="column is-half-tablet is-1-desktop has-text-centered">
         <%= link_to "Gen 8", pokemons_path(gen: 8), class: "button is-link is-inverted" %>
      </div>
    </div>
    <div class="right-side">
      <% if trainer_signed_in? %>
        <%= link_to "New pokemon", new_pokemon_path%>
      <%end%>
    </div>
    <br>
    <div class="tight-pagi has-text-centered" style="padding-bottom: 15px">
      <%= link_to_unless_current "12",pokemons_path(items: 12,gen: params[:gen])%>
      <%= link_to_unless_current "24",pokemons_path(items: 24,gen: params[:gen])%>
      <%= link_to_unless_current "48",pokemons_path(items: 48,gen: params[:gen])%>
      <%= link_to_unless_current "96",pokemons_path(items: 96,gen: params[:gen])%>
      <%== pagy_bulma_nav(@pagy) %>
    </div>
    <div class="columns is-multiline is-vcentered">
        <% @pokemons.each do | pokemon| %>
          <%= render pokemon %>
        <% end %>
      </div>
  </div>
</section>
<div class="tight-pagi has-text-centered" style="padding-bottom: 15px">
  <%== pagy_bulma_nav(@pagy) %>
  <%= link_to_unless_current "12",pokemons_path(items: 12,gen: params[:gen])%>
  <%= link_to_unless_current "24",pokemons_path(items: 24,gen: params[:gen])%>
  <%= link_to_unless_current "48",pokemons_path(items: 48,gen: params[:gen])%>
  <%= link_to_unless_current "96",pokemons_path(items: 96,gen: params[:gen])%>
</div>
